body {
    color: white;
    background-color: rgba(32, 1, 32, 0.9);

}
.drink {
    display: flex;

   
}
.love {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: rgba(255, 255, 0, 0.795);
    list-style: none;
}
.bo {
    font-size: 30px;
    line-height: 30px;
    padding: 10px;

}